<!DOCTYPE html>
<html lang={{ app.request.locale }}>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title "Panterest" %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{{ include('layout/partial/_flash_message.html.twig') }}

		{{ include('layout/partial/_nav.html.twig') }}

		<main class="container" role="main">
			{% block body %}&nbsp;
			{% endblock %}
		</main>

		{{ include('layout/partial/_footer.html.twig') }}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
